body {
  background-color: black;
}

input {
  display: block;
  width: 95%;
  margin: 3px 0;
  border-radius: 4px;
  border-color: lightgray;
}

p {
  color: red;
  font-size: 10px;
  text-align: left;
}

h4 {
  color: #555;
}

.calculator {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50%;
  border-radius: 4px;
  margin-top: 30px;
}

.form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3px;
}

.button {
  background-color: black;
  color: white;
  border: none;
  margin: 10px 0;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

#label {
  font-size: 12px;
  text-align: left;
}
